# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Data
data/
*.db
*.xml
*.m3u

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Devtools
devtools/
